// Config.Release.xcconfig
// Environnement de production (App Store).

#include? "Config/Secrets.Release.xcconfig"

// Identité
INFOPLIST_KEY_CFBundleDisplayName = HolyDay
PRODUCT_BUNDLE_IDENTIFIER = com.matthiascadet.HolyDay

// Environnement
INFOPLIST_KEY_AppEnvironment = Release
INFOPLIST_KEY_LoggingEnabled = NO
